.contenedor {
    width: 200px; /* Ancho deseado del contenedor */
    max-height: 200px; /* Alto deseado del contenedor */
    overflow: hidden; /* Para ocultar partes de la imagen que no caben */
    padding: 1rem;
    flex:1;
    display: flex;
    max-height: 200px;
    align-content: center;
  }


  @media screen and (max-width:750px) {
    
    .contenedor{
      width: 100%;
    }
   
   
   }