.contenedor {
    width: 400px; /* Ancho deseado del contenedor */
    max-height: 200px; /* Alto deseado del contenedor */
    overflow: hidden; /* Para ocultar partes de la imagen que no caben */
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: flex-start;

  }




  @media screen and (max-width:750px) {
    
    .contenedor{
      width: 100%;
    }
   
   
   }