:root {
    --color-azul-oscuro: #001B4B;
    --color-azul-claro: #005896;
    --color-azul-claro-plus: #308acc;
    --color-dorado: #c36e57;
    --color-verde: #6e8174;
    --color-dorado-oscuro: #9c8364;
    --color-gris-claro: #d1ccc9;
    --color-gris-oscuro: #676767;
    --color-gris-oscuro-plus: #333334;
}

*{
    margin:0;
    padding:0;
    list-style: none;
    font-family: "Nunito Sans", sans-serif;
}

html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    min-width: 360px;
  }

#__next{
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
}

.body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul, li{
    list-style:none;
    padding:0;
    margin:0;
}

main#mainprincipal{
    display: flex;
    flex-direction: column;
    flex: 1;
}
