*{
    margin:0;
    padding:0;
    list-style: none;
}

div>h2{
	color:#FFF;
}
#logo{
	display:none;
}

#cabeza{
	text-align:center;
    color:white;
}

ul, li{
    list-style:none;
    padding:0;
    margin:0;
}

#navegacion{
	display: flex;
 
    list-style: none;
    flex-wrap: wrap;
    padding: 1rem;
   	justify-content: center;
}

#navegacion>li{
    margin: 1rem;
    background-color: #C97814;
    padding: 1rem;
}

#navegacion>li>a{
	color: white;
    font-weight:bold;
    width:100%;
}
    
#campanias{
	display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;
}

.titulo{
	font-size: 26pt;
  	color: white;
  	font-weight: bold;
}


.tarjeta{
	background-color: white;
    padding: 1rem;
    margin:0.5rem;
}

.tituloCampania{
	margin-top:2rem;
    color: white;
    font-size:30pt;
}

.textoPrincipal{
	display:flex;
    flex-wrap:wrap;
}

.textoPrincipal>label{
	flex:50%;
    font-size: 10pt;
}

.textoPrincipal>p{
    flex:50%;
	font-weight:bold;
    color: #001B4B;
	font-size: 20pt;
    margin-bottom:1rem;
}

.nombre{
	font-size: 30pt;
}

.precio{
	color: #005896;
}

.datos{
	display:flex;
}

.datos>div{
	display: flex;
  	align-items: end;
    padding: 0.5rem;
}

.datos>:nth-child(1){
    padding-left: 0;
}



/* DISPOSITIVO MÓVIL */

@media screen and (max-width:750px) {
 
    div>h2{
    font-size:15pt;
        color:white;
    }
    div.datos{
    display:flex;
        flex-wrap:wrap;
        gap: 3px;
    }

    .datos>div{
        padding: 0;
    }
    
    div.datos>div{
    flex: 49%;
    }
    
    div.menu{
    display: flex;
        flex-wrap:wrap;
    }
    
       #logo{
	display:block;
    flex:1;
    height:3rem;
}
    
    #logo>img{

  width: auto;
  height: 3rem;

    }
    
    .theme-banner{
display:none;
}      

    
  #navegacion>li{
    margin: 0.2rem;
}
    
}


