.header{
    background-color: var(--color-azul-oscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}


.header img{
    width: auto;
    max-height: 100%;
}