div#contenedorlista {
  background-color: var(--color-azul-oscuro);
  padding: 1rem 0;
}

div.tarjeta {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.tituloCampania {
  margin-top: 2rem;
  color: white;
  font-size: 30pt;
}

.textoPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  letter-spacing: 0.2rem;
  border-bottom: 2px solid var(--color-gris-claro);
}

.textoPrincipal > label {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  font-size: 12pt;
}

.textoPrincipal > p {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
  font-weight: bold;
  color: var(--color-dorado);
  font-size: 20pt;
  margin-bottom: 1rem;
}

.nombre {
  font-size: 30pt;
}

/* .precio{
	color: #005896;
} */

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.1rem;
  color: var(--color-azul-oscuro);
}

.datos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0.5rem;
}

.datos > :nth-child(1) {
  padding-left: 0;
}

/* DISPOSITIVO MÓVIL 
10pt */

@media screen and (max-width: 750px) {
  .textoPrincipal {
    letter-spacing: 0;
  }

  .datos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3px;
    letter-spacing: 0;
    font-size: 10pt;
  }

  .datos > div {
    padding: 0;
  }

  div.datos > div {
    -webkit-box-flex: 49%;
    -ms-flex: 49%;
    flex: 49%;
  }
}
